.section {
    opacity: 1;
    transform: translateY(40px);
}

.section.visible {
    animation: liftUp 0.5s ease forwards;
}

@keyframes liftUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.separator {
    height: 200px;
    border-top: 1px solid #ccc;
    width: 80%;
    margin: auto;
}