header {
    width: auto;
    background: linear-gradient(135deg, #253579 0%, #460785 100%);
    padding: 1rem;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
h1 {
    margin: 0;
    font-size: 1.5rem;   
}
.logo {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}
img {
    height: 40px;
    width: auto;    
}