
:host {
    width: 100%;
    display: block;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}
.layout {
    display: flex;
    min-height: calc(100vh - 100px);
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 0 50px 0;
}
.slot-wrapper {
    flex: 1;
    background-color: #f5f7fa;
    padding: 20px;
    border-radius: 8px;
}