footer {
    width: auto;
    background: linear-gradient(135deg, #253579 0%, #460785 100%);
    padding: 1rem;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #b6dae7ff;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: inline-block;
    font-size: 12px;
}
a:hover {
    background-color: rgb(176, 81, 136);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
a:active {
    transform: translateY(0);
    box-shadow: none;
}
.footer-right{
    display: flex;
    align-items: center;
}